/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Colors & variables

$color1: #041e40;
$color2: #043f8c;
$color3: #232b2d;
$color4: #333333;
$color5: #ffffff;
$color51: #d03222;
$color52: #ededed; 
$color53: #d3d3d3;
$color6: rgba(51, 51, 51, 0.42);
$color7: #955251; //Marsala
/* General */

